{% extends 'accounts/main.html'%}
{% load static %}
{% block content %}
<!--<br>-->
<!--                    &lt;!&ndash; Content Row &ndash;&gt;-->
<!--                    <div class="row">-->

<!--                        &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
<!--                        <div class="col-xl-3 col-md-6 mb-4">-->
<!--                            <div class="card border-left-primary shadow h-100 py-2">-->
<!--                                <div class="card-body">-->
<!--                                    <div class="row no-gutters align-items-center">-->
<!--                                        <div class="col mr-2">-->
<!--                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">-->
<!--                                                Total Orders</div>-->
<!--                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{context.total_order}}</div>-->
<!--                                        </div>-->
<!--                                        <div class="col-auto">-->
<!--                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
<!--                        <div class="col-xl-3 col-md-6 mb-4">-->
<!--                            <div class="card border-left-success shadow h-100 py-2">-->
<!--                                <div class="card-body">-->
<!--                                    <div class="row no-gutters align-items-center">-->
<!--                                        <div class="col mr-2">-->
<!--                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">-->
<!--                                                Pending</div>-->
<!--                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{context.pending}}</div>-->
<!--                                        </div>-->
<!--                                        <div class="col-auto">-->
<!--                                            <i class="fas fa-comments fa-2x text-gray-300"></i>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
<!--                        <div class="col-xl-3 col-md-6 mb-4">-->
<!--                            <div class="card border-left-info shadow h-100 py-2">-->
<!--                                <div class="card-body">-->
<!--                                    <div class="row no-gutters align-items-center">-->
<!--                                        <div class="col mr-2">-->
<!--                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Out for Delivery-->
<!--                                            </div>-->
<!--                                            <div class="row no-gutters align-items-center">-->
<!--                                                <div class="col-auto">-->
<!--                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{context.ofdelivery}}</div>-->
<!--                                                </div>-->

<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="col-auto">-->
<!--                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Pending Requests Card Example &ndash;&gt;-->
<!--                        <div class="col-xl-3 col-md-6 mb-4">-->
<!--                            <div class="card border-left-warning shadow h-100 py-2">-->
<!--                                <div class="card-body">-->
<!--                                    <div class="row no-gutters align-items-center">-->
<!--                                        <div class="col mr-2">-->
<!--                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">-->
<!--                                                Delivered Items</div>-->
<!--                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{context.delivered}}</div>-->
<!--                                        </div>-->
<!--                                        <div class="col-auto">-->
<!--                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Content Row &ndash;&gt;-->

<!--                    <div class="row">-->

<!--                        &lt;!&ndash; Area Chart &ndash;&gt;-->
<!--                        <div class="col-xl-12 col-lg-7">-->
<!--                            <div class="card shadow mb-4">-->
<!--                                &lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
<!--                                    <div-->
<!--                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--                                        <h6 class="m-0 font-weight-bold text-primary">Recent Orders</h6>-->
<!--                                        <a class="btn btn-primary  btn-sm ">Add order</a>-->

<!--                                    </div>-->
<!--                                    <div class="card card-body" style="height: 600px;overflow: scroll;">-->

<!--                                                <table class="table table-sm">-->
<!--                                                    <tr>-->
<!--                                                        <th>Customer</th>-->
<!--                                                        <th>Product</th>-->
<!--                                                        <th>Date Ordered</th>-->
<!--                                                        <th>Status</th>-->
<!--                                                        <th>Update</th>-->
<!--                                                        <th>Remove</th>-->
<!--                                                    </tr>-->
<!--                                                    {% for i in context.orders %}-->
<!--                                                    <tr>-->
<!--                                                        <td>{{ i.customer }}</td>-->
<!--                                                        <td>{{ i.product }}</td>-->
<!--                                                        <td>{{ i.date_created }}</td>-->
<!--                                                        <td>{{ i.status }}</td>-->
<!--                                                        <td><a  class = "btn btn-sm btn-info" href="{% url 'update_order' i.id %}">Update</a></td>-->
<!--                                                        <td><a  class = "btn btn-sm btn-danger" href="{% url 'delete_order' i.id %}">Delete</a></td>-->
<!--                                                    </tr>-->
<!--                                                    {% endfor %}-->


<!--                                                </table>-->
<!--                                    </div>-->



<!--                            </div>-->

<!--                    </div>-->



	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-info btn-sm btn-block" href="{% url 'create_order' cutomer.id %}">Place Orderr</a>


		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{cutomer.email}}</p>
			<p>Phone: {{cutomer.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
			{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.product}}</td>
					<td>{{order.product.category}}</td>
					<td>{{order.date_created}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>






{% endblock %}